@mixin grid-768() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin grid-1920() {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin grid-320() {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  padding: 0 20px;

  @include grid-768 {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;

    padding: 0 34px;
  }

  @include grid-1920 {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    padding: 0 125px;
  }
}
