// Colors
$contrast: #05c2df;
$black: #05040b;
$gray: #2f2f2f;
$text: #929292;
$white: #fff;
$bg: linear-gradient(135deg, #191536 0%, #000 100%);

// Validation
$valid: #0c797a;
$invalid: #eb5757;
$invalid-text: #eb57574d;

// Fonts
$font-family: 'Inter', sans-serif;
